.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(67, 188, 96);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.form-label{
  padding-top: 15px;
  color: #6da2db;
  font-weight: bold;
}
.form-control{
  padding: 12px;
  border-radius: 10px;
  border: 3px solid #6496cb !important;

}
.form-check-label{
  color: #6da2db;
  font-weight: bold;
  font-size: 12px;
}

.buttonsnav{
  justify-content: flex-end ;
  display:flex ;
  gap: 12px ;
}
.label{
  background-color: #6496cb !important;
}
.btn-danger{
  background-color: #6496cb !important;
  border-radius: 50px !important;
  border-color: #6496cb !important;
}
.btn-warning{
  border-radius: 50px !important;
}

.table-bordered, table{
  border: 3px solid black !important;
  box-shadow: 8px 8px 15px  #5891cd !important ;
  
}

.btn{
  background-color: #6496cb !important ;
  border-radius: 12px !important;
  border-color: #6496cb !important;
  color: aliceblue !important;
}

.form-select{
  background-color: #6496cb !important ;
  border-radius: 50px ;
  border-color: #6496cb !important;
  color: aliceblue !important;
}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.text-center{
  font-family:'Indie Flower' ;
  font-size: 50px;
  color: #1a5ea7;
}